* {
    font-family: Vazir !important;
}

.marketing {
    & .col-lg-4 {
        & p {
            text-align: justify;
        }
    } 
}

.navbar {
    & .container {
        & .collapse {
            & form {
                width: 300px;
                background-color: #95999b;
                border: 1px solid #5C636A;
                & > input, & button {
                    background-color: transparent;
                    border: none;
                    color: #ffffff;
                    &:focus, &:active {
                        outline: none;
                    }
                }
                & > input  {
                    font-size: .8rem;
                    &::placeholder {
                    color: #c5c4c4;
                    }
                }
            }
        }
    }
}

.footer {
    & .contact-me {
        & p{
            text-align: justify;
        }
    }
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.border {
    &:hover {
        box-shadow: 0px 0px 10px #3d3d3d;
        transition: .4s;
    }
}

.carousel-caption {
    background-color: rgba(0,0,0,.4) !important;
    right: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
}

.metanool {
    background-image: url('../img/5001.jpg');
    background-size: 100%;
    & p, & h2{
        text-align: justify;
        margin-right: 6rem;
    }
}

.asid {
    background-image: url('../img/5002.jpg');
    background-size: 50%;
    & p, & h2{
        text-align: justify;
        margin-right: 6rem;
    }
}

.co {
    background-image: url('../img/5003.jpg');
    background-size: 50%;
    & p, & h2{
        text-align: justify;
        margin-right: 6rem;
    }
}


